h1{
    border: 2px solid black;
    width: 50%;
}   
#outer{
    height: 400px;
    width: 400px;
    background-color: pink;
    border: 2px solid black;
    margin: 20px;
}
#inner{
    /* height: 100px;
    width: 100px;
    background-color: pink;
    border: 2px solid black;
    margin: 10%; */
    height: 10em;
    width: .5em;
    background-color: pink;
    border: .001em solid black
}