h1{
    background-color: yellow;
    border: 2px solid black;
}
@media (width:400px) {
    h1{
        background-color: red;
        
    }
    div{
        background-color: blue;
        height: 100px;
        width: 20px;
    }
}
@media (min-width:400px) {
    h1{
        background-color:green;
    }
}