<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create new Post</title>
</head>
<body>
    <form method="post" action="/posts">
        <input type="text" placeholder="enter username" name="username"><br>&nbsp;<br>&nbsp;

        <textarea  placeholder="Write your post" name="content"></textarea><br>&nbsp;<br>&nbsp;

        <button>Submit Post</button>
    </form>
</body>
</html>