<% layout("./layouts/boilerplate.ejs") %>

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card shadow-lg border-0">
                    <div class="card-body p-4">
                        <h3 class="text-center mb-4">Create a New Listing</h3>
                        <form action="/listings" method="post">
                            <div class="mb-3">
                                <label for="title" class="form-label">Title</label>
                                <input class="form-control" type="text" placeholder="Enter title" name="listing[title]"
                                    required>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="description">Description</label>
                                <textarea class="form-control" name="listing[description]"
                                    placeholder="Enter description" rows="3" required></textarea>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="image">Image URL</label>
                                <input class="form-control" type="text" placeholder="Enter image URL"
                                    name="listing[image]">
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="price">Price</label>
                                <input class="form-control" type="text" name="listing[price]"
                                    placeholder="Enter price" required>
                            </div>
                            <div class="row">
                                <div class="mb-3 col-4">
                                    <label class="form-label" for="country">country: </label>
                                    <input class="form-control" type="text" name="listing[country]"
                                        placeholder="enter country name" required>
                                </div>
                                <div class="mb-3 col-8">
                                    <label class="form-label" for="location">location: </label>
                                    <input class="form-control" type="text" name="listing[location]"
                                        placeholder="enter location" required>
                                </div>


                            </div>
                            <button class="btn btn-dark w-100 mt-3">Add Listing</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>