.face{
    height: 400px;
    width:400px ;
    background-color: yellow;
    border-radius: 50%;
    display: flex;
}
.mouth{
    height: 50px;
    width:200px ;
    background-color: brown;
    border-radius: 0 0 50px 50px;
    display: flex;
    position: absolute;
    top: 275px;
    left: 100px;
}
.left-eye , .right-eye{
    height: 50px;
    width: 50px;
    display: inline-block;
    border-radius: 50%;
    background-color: black;
    position:absolute;
}
.left-eye{
    left: 100px;
    top: 100px;
}
.right-eye{
    left: 250px;
    top: 100px;
}