<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <h1>This is a home page  1+2</h1>
    <h1><%=1+2%></h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed, expedita mollitia? Unde ratione velit corrupti natus esse veritatis accusamus architecto ex omnis dolorum?</p>
</body>
</html>
